Package: pandazheng
Name: NceCracked
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: panda zheng
Author: panda zheng
Section: Tweaks
